<div class="d-flex flex-column flex-shrink-0 p-3 shadow-lg" style="width: 280px; height: 100vh;">
  <a routerLink="/home" class="d-flex align-items-center pb-3 py-1 mb-3 link-body-emphasis text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Minsait empréstimos</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <a routerLink="/home" class="btn btn-toggle align-items-center border-0 d-inline-flex text-decoration-none">Home</a>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#clientes-collapse" aria-expanded="false">
        Clientes
      </button>
      <div class="collapse" id="clientes-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="/clientes" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Todos os clientes</a></li>
          <li><a routerLink="/clientes/cadastrar" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Cadastrar novo cliente</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#emprestimos-collapse" aria-expanded="false">
        Empréstimos
      </button>
      <div class="collapse" id="emprestimos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Todos os empréstimos do cliente</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Buscar empréstimo do cliente</a></li>
          <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Solicitar novo empréstimo</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-4"></li>
    <li class="mb-1">
      <a routerLink="/sobre" class="btn btn-toggle align-items-center border-0 d-inline-flex text-decoration-none rounded">Sobre</a>
    </li>
  </ul>
</div>
