<div class="container-fluid py-4">
  <div class="container-fluid">
    <h1 class="display-6">Clientes</h1>
    <hr>
    <table class="table text-center table-hover">
      <thead>
        <tr>
          <th scope="col">CPF</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Endereço</th>
          <th scope="col">CEP</th>
          <th scope="col">Rendimento mensal</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th scope="row">{{cliente.cpf}}</th>
          <td>{{cliente.nome}}</td>
          <td>{{cliente.telefone}}</td>
          <td>{{cliente.endereco}}</td>
          <td>{{cliente.cep}}</td>
          <td>{{cliente.rendimentoMensal}}</td>
          <td class="d-flex gap-2 justify-content-center">
            <a class="btn btn-primary btn-sm" routerLink="/clientes/alterar/{{cliente.cpf}}">Editar</a>
            <a class="btn btn-danger btn-sm" routerLink="/clientes/deletar/{{cliente.cpf}}">Deletar</a>
            <a class="btn btn-success btn-sm" routerLink="/emprestimos/{{cliente.cpf}}">Empréstimos</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
