<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Sobre o projeto</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 py-2">O projeto Minsait Empréstimos foi construído durante o curso de capacitação profissional em Java e Angular de 40 horas como método de avaliação final.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button onclick="location.href='http://github.com/Pessinaaa'" target="_blank" type="button" class="btn btn-primary btn-lg px-4 gap-3">Veja meu Github</button>
      <button onclick="location.href='https://www.linkedin.com/in/pedro-pessina/'" type="button" class="btn btn-outline-secondary btn-lg px-4">Veja meu Linkedin</button>
    </div>
  </div>
</div>
