<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Sobre o projeto</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 py-2 fs-4">O projeto Minsait Empréstimos foi construído durante o curso de capacitação profissional em Java e Angular de 40 horas como método de avaliação final.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="http://github.com/Pessinaaa" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Veja meu Github</a>
      <a href="https://www.linkedin.com/in/pedro-pessina/" target="_blank" class="btn btn-outline-secondary btn-lg px-4">Veja meu Linkedin</a>
    </div>
  </div>
</div>
